@import "tailwindcss";

@theme {
    --color-sunset-100: #f2921d;
    --color-sunset-200: #f27127;
    --color-sunset-300: #d95323;
    --color-sunset-400: #8c322a;
    --color-sunset-gray: #2e3440;
    --color-custom-white : #f4f4f4
}

html {
    font-family: 'Titillium Web', sans-serif;
}